In [29]:
import pandas as pd

df1=pd.read_csv('C5-C16-MuSCAT2.csv',delimiter=',',skiprows=[0,1,2,3,4,5,6,7,8])

In [30]:
df1.head()

,EPIC,RA,DEC,T0 (-2454900),T0,Period [d],Period unc.,Duration (hour),MidpointJD,MidpointAirmass,IngressCalendar(UST),MidpointCalendar(UST),EgressCalendar(UST),Notes,Kepmag,depth
0,211413752b,8:54:50,11:50:54,2241.511433,2457141.511,2.151081,NaN,2.218094,2458137.461,1.43,1/18/2018 21:57:27,1/18/2018 23:04:00,1/19/2018 0:10:33,1.63 Re (inner) around solar-type star,13.539,0.000872
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2458139.612,1.06,1/21/2018 1:34:27,1/21/2018 2:41:00,1/21/2018 3:47:33,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2458152.519,1.06,2/2/2018 23:20:27,2/3/2018 0:27:00,2/3/2018 1:33:33,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2458154.670,1.44,2/5/2018 2:57:27,2/5/2018 4:04:00,2/5/2018 5:10:33,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2458167.576,1.14,2/18/2018 0:43:27,2/18/2018 1:50:00,2/18/2018 2:56:33,NaN,NaN,NaN

In [31]:
df2=pd.read_csv('Field 5 planet candidates (KESPRINT).csv',delimiter=',')

In [35]:
df2.head(3)

,EPIC,SNR,V mag,Teff,Rstar,Mstar,Source,RA,DEC,t0 (-2454900),...,Comment,RAh,RAm,RAs,Unnamed: 29,Unnamed: 30,Decdeg,Decmin,Decsec,Unnamed: 34
0,211309274,8.31,14.81,3551,0.50,0.51,Colors-Mamajek,130.223419,10.037269,2259.36888,...,"really low SNR, GO proposal thinks its giant, ...",8.0,40.0,53.62,NaN,+,10.0,28.0,8.87,NaN
1,211331236b,14.79,14.655,3514,0.49,0.49,Colors-Mamajek,133.855682,10.469131,2240.190847,...,"low SNR, GO proposal thinks its giant, but TES...",8.0,55.0,25.36,NaN,+,10.0,28.0,8.87,NaN
2,211331236c,7.81,14.655,3514,0.49,0.49,Colors-Mamajek,133.855682,10.469131,2243.575527,...,"low SNR, GO proposal thinks its giant, but TES...",8.0,55.0,25.36,NaN,+,10.0,50.0,51.31,NaN

In [33]:
cols2='EPIC,V mag,Teff,Rstar,Mstar,Comment'.split(',')
df2[cols2].head()

,EPIC,V mag,Teff,Rstar,Mstar,Comment
0,211309274,14.81,3551,0.50,0.51,"really low SNR, GO proposal thinks its giant, ..."
1,211331236b,14.655,3514,0.49,0.49,"low SNR, GO proposal thinks its giant, but TES..."
2,211331236c,14.655,3514,0.49,0.49,"low SNR, GO proposal thinks its giant, but TES..."
3,211351816,12.61,4673,0.71,0.75,"low SNR, possible odd/even difference, star is..."
4,211354933,11.31,6637,2.07,2.67,"bright star but the transit is low SNR, need b..."

In [34]:
df1.columns

Index(['EPIC', 'RA', 'DEC', 'T0 (-2454900)', 'T0', 'Period [d]', 'Period unc.',
       'Duration (hour)', 'MidpointJD', 'MidpointAirmass',
       'IngressCalendar(UST)', 'MidpointCalendar(UST)', 'EgressCalendar(UST)',
       'Notes', 'Kepmag', 'depth'],
      dtype='object')

pd.concat([df1,df2[cols2]])

In [38]:
df_final = pd.merge(df1, df2[cols2], on=['EPIC'])

In [39]:
df_final.to_csv('test.csv')