# Dipper Targets (UH-30B)

## `K2plr`

In [2]:
import k2plr as kplr

client = kplr.API()

epic = 203850058

star = client.k2_star(epic)

ra = star.k2_ra
dec = star.k2_dec
print('ra={0}, dec={1}'.format(ra, dec))

ImportError: No module named k2plr

In [22]:
from astropy import units as u

ra=ra*u.degree
dec=dec*u.degree

In [21]:
ra.to(u.hourangle)

In [23]:
dec

In [2]:
star.twomass

'16270659-2441488'

Consider automation using [SheetSync API](http://sheetsync.readthedocs.io/en/latest/getting_started.html) in the future.

In [1]:
from astropy import units as u
from tqdm import tqdm

targets = "204514548,203410665,204864076,204638512,204630363,205151387,203843911,203937317,204278916,204512343,203950167,204469637,205519771,204932990,203824153,204137184,204530046,203995761,204472612,203343161,204211116,205241182,204329690,203770366,203850058".split(',')

ra, dec, kpmag, jmag, hmag, kmag, rmag, teff, twomass, distance = [], [], [], [], [], [], [], [], [], []

for epic in tqdm(targets):
    star = client.k2_star(epic)
    ra.append(star.k2_ra)
    dec.append(star.k2_dec)
    jmag.append(star.kp)
    hmag.append(star.hmag)
    kmag.append(star.kmag)
    rmag.append(star.rmag)
    kpmag.append(star.kp)
    teff.append(star.teff)
    twomass.append(star.twomass)
    distance.append(star.d)

  0%|          | 0/25 [00:00<?, ?it/s]

NameError: name 'client' is not defined

In [108]:
ra

[239.166756,
 246.410348,
 240.990303,
 241.090228,
 242.520914,
 242.253173,
 246.598749,
 246.571165,
 240.531567,
 239.337896,
 245.78846,
 245.025654,
 241.80841,
 242.9622,
 247.225281,
 240.521584,
 242.708793,
 247.069727,
 242.14397,
 246.232825,
 245.424978,
 242.693171,
 245.50811,
 243.771873,
 246.777484]

In [109]:
ra_h=ra*u.degree
ra_h=ra_h.to(u.hourangle)

In [110]:
ra_h.value

array([ 15.9444504 ,  16.42735653,  16.0660202 ,  16.07268187,
        16.16806093,  16.15021153,  16.4399166 ,  16.43807767,
        16.0354378 ,  15.95585973,  16.38589733,  16.3350436 ,
        16.12056067,  16.19748   ,  16.4816854 ,  16.03477227,
        16.1805862 ,  16.47131513,  16.14293133,  16.41552167,
        16.3616652 ,  16.17954473,  16.36720733,  16.2514582 ,  16.45183227])

In [112]:
import pandas as pd

df = pd.DataFrame({'EPIC': targets, 'RA (deg)':ra, 'RA (hr)':ra_h.value, 'DEC (deg)': dec, 'Kpmag':kpmag, 
                   'Jmag':jmag, 'Hmag':hmag, 'Kmag':kmag, 'Rmag':rmag, 'Teff':teff, '2MASS':twomass, 'distance': distance})

In [113]:
df

,2MASS,DEC (deg),EPIC,Hmag,Jmag,Kmag,Kpmag,RA (deg),RA (hr),Rmag,Teff,distance
0,None,-22.027779,204514548,NaN,9.053,NaN,9.053,239.166756,15.944450,9.405,NaN,NaN
1,16253849-2613540,-26.231661,203410665,7.947,10.845,7.517,10.845,246.410348,16.427357,10.859,4415.0,1162.00
2,16035767-2031055,-20.518229,204864076,8.773,12.112,8.371,12.112,240.990303,16.066020,12.135,4708.0,1316.00
3,16042165-2130284,-21.507916,204638512,9.103,12.180,8.506,12.180,241.090228,16.072682,12.119,6089.0,602.80
4,16100501-2132318,-21.542193,204630363,9.328,12.616,8.951,12.616,242.520914,16.168061,12.645,5065.0,976.50
5,16090075-1908526,-19.147971,205151387,9.475,13.081,9.154,13.081,242.253173,16.150212,13.292,3727.0,100.20
6,16262367-2443138,-24.720513,203843911,8.397,13.386,7.847,13.386,246.598749,16.439917,NaN,4799.0,762.40
7,16261706-2420216,-24.339449,203937317,8.609,13.809,8.063,13.809,246.571165,16.438078,NaN,4713.0,834.20
8,16020757-2257467,-22.963025,204278916,10.181,13.773,9.860,13.773,240.531567,16.035438,14.167,3625.0,96.73
9,15572109-2202130,-22.036949,204512343,10.463,12.884,10.102,12.884,239.337896,15.955860,NaN,5649.0,516.10
10,16230923-2417047,-24.284773,203950167,8.997,12.012,8.070,12.012,245.788460,16.385897,NaN,5187.0,463.00
11,16200616-2212385,-22.210701,204469637,10.944,14.112,10.653,14.112,245.025654,16.335044,NaN,5800.0,355.00
12,16071403-1702425,-17.045187,205519771,11.045,13.239,10.754,13.239,241.808410,16.120561,NaN,5253.0,224.90
13,16115091-2012098,-20.202746,204932990,10.756,12.995,10.400,12.995,242.962200,16.197480,NaN,6532.0,369.60
14,16285407-2447442,-24.795612,203824153,9.432,12.357,8.905,12.357,247.225281,16.481685,NaN,4693.0,1118.00
15,16020517-2331070,-23.518595,204137184,11.041,13.219,10.673,13.219,240.521584,16.034772,NaN,6461.0,368.10
16,16105011-2157481,-21.963379,204530046,11.188,13.328,10.790,13.328,242.708793,16.180586,NaN,7306.0,715.50
17,16281673-2405142,-24.087296,203995761,9.571,12.616,8.860,12.616,247.069727,16.471315,NaN,5333.0,1596.00
18,16083455-2211559,-22.198866,204472612,11.931,13.924,11.530,13.924,242.143970,16.142931,NaN,7796.0,978.70
19,16245587-2627181,-26.455029,203343161,11.533,13.586,11.165,13.586,246.232825,16.415522,NaN,7255.0,659.10
20,16214199-2313432,-23.228676,204211116,11.375,13.637,10.956,13.637,245.424978,16.361665,NaN,6301.0,722.10
21,16104636-1840598,-18.683298,205241182,11.816,14.059,11.266,14.059,242.693171,16.179545,NaN,6885.0,461.40
22,16220194-2245410,-22.761395,204329690,11.347,13.635,10.882,13.635,245.508110,16.367207,NaN,6314.0,791.70
23,16150524-2459351,-24.993090,203770366,11.901,13.924,11.482,13.924,243.771873,16.251458,NaN,7881.0,1059.00
24,16270659-2441488,-24.696901,203850058,11.397,13.812,10.766,13.812,246.777484,16.451832,NaN,6354.0,1255.00

In [114]:
df.to_csv('ipynb_output.csv')#, delimiter='\tab')

## Staralt visibility plot
Plot the visibility of targets with lowest and highest RA using [StarAlt](http://catserver.ing.iac.es/staralt/).
The format is 

`name hh mm ss ±dd mm ss`

In [184]:
df.columns

Index(['2MASS', 'DEC (deg)', 'EPIC', 'Hmag', 'Jmag', 'Kmag', 'Kpmag',
       'RA (deg)', 'RA (hr)', 'Rmag', 'Teff', 'distance'],
      dtype='object')

In [197]:
df_visplot = df[['EPIC','RA (deg)','DEC (deg)', 'Jmag']]
df_visplot.head(3)

        EPIC    RA (deg)  DEC (deg)    Jmag
0  204514548  239.166756 -22.027779   9.053
1  203410665  246.410348 -26.231661  10.845
2  204864076  240.990303 -20.518229  12.112

In [198]:
#save unsorted
df_visplot.to_csv('for_visplot.txt', sep=' ', header=False, index=False)

In [199]:
df_visplot_sorted = df_visplot.sort_values(by=['DEC (deg)', 'Jmag'], axis=0)
df_visplot_sorted.head(3)

         EPIC    RA (deg)  DEC (deg)    Jmag
19  203343161  246.232825 -26.455029  13.586
1   203410665  246.410348 -26.231661  10.845
23  203770366  243.771873 -24.993090  13.924

In [200]:
df_visplot_sorted_DEC = df_visplot.sort_values(by=['DEC (deg)'], axis=0)
df_visplot_sorted_DEC.head(3)

         EPIC    RA (deg)  DEC (deg)    Jmag
19  203343161  246.232825 -26.455029  13.586
1   203410665  246.410348 -26.231661  10.845
23  203770366  243.771873 -24.993090  13.924

In [201]:
df_visplot_sorted.columns

Index(['EPIC', 'RA (deg)', 'DEC (deg)', 'Jmag'], dtype='object')

In [202]:
#use id
ID = ['E'+i[-4:] for i in df_visplot_sorted['EPIC']]
df_visplot_sorted['ID'] = ID

In [190]:
#remove 
df_visplot_sorted.drop(['EPIC','Jmag'],axis=1).head(3)
df_visplot_sorted = df_visplot_sorted[['ID','RA (deg)','DEC (deg)']]
df_visplot_sorted.head(3)

       ID    RA (deg)  DEC (deg)
19  E3161  246.232825 -26.455029
1   E0665  246.410348 -26.231661
23  E0366  243.771873 -24.993090

In [193]:
df_visplot_sorted.to_csv('for_visplot_sorted.txt', sep=' ', header=False, index=False)

## Sorting by priority

In [119]:
df.sort_values(by=['RA (hr)', 'Kpmag'], axis=0) #how about distance? uncertain!

,2MASS,DEC (deg),EPIC,Hmag,Jmag,Kmag,Kpmag,RA (deg),RA (hr),Rmag,Teff,distance
0,None,-22.027779,204514548,NaN,9.053,NaN,9.053,239.166756,15.944450,9.405,NaN,NaN
9,15572109-2202130,-22.036949,204512343,10.463,12.884,10.102,12.884,239.337896,15.955860,NaN,5649.0,516.10
15,16020517-2331070,-23.518595,204137184,11.041,13.219,10.673,13.219,240.521584,16.034772,NaN,6461.0,368.10
8,16020757-2257467,-22.963025,204278916,10.181,13.773,9.860,13.773,240.531567,16.035438,14.167,3625.0,96.73
2,16035767-2031055,-20.518229,204864076,8.773,12.112,8.371,12.112,240.990303,16.066020,12.135,4708.0,1316.00
3,16042165-2130284,-21.507916,204638512,9.103,12.180,8.506,12.180,241.090228,16.072682,12.119,6089.0,602.80
12,16071403-1702425,-17.045187,205519771,11.045,13.239,10.754,13.239,241.808410,16.120561,NaN,5253.0,224.90
18,16083455-2211559,-22.198866,204472612,11.931,13.924,11.530,13.924,242.143970,16.142931,NaN,7796.0,978.70
5,16090075-1908526,-19.147971,205151387,9.475,13.081,9.154,13.081,242.253173,16.150212,13.292,3727.0,100.20
4,16100501-2132318,-21.542193,204630363,9.328,12.616,8.951,12.616,242.520914,16.168061,12.645,5065.0,976.50
21,16104636-1840598,-18.683298,205241182,11.816,14.059,11.266,14.059,242.693171,16.179545,NaN,6885.0,461.40
16,16105011-2157481,-21.963379,204530046,11.188,13.328,10.790,13.328,242.708793,16.180586,NaN,7306.0,715.50
13,16115091-2012098,-20.202746,204932990,10.756,12.995,10.400,12.995,242.962200,16.197480,NaN,6532.0,369.60
23,16150524-2459351,-24.993090,203770366,11.901,13.924,11.482,13.924,243.771873,16.251458,NaN,7881.0,1059.00
11,16200616-2212385,-22.210701,204469637,10.944,14.112,10.653,14.112,245.025654,16.335044,NaN,5800.0,355.00
20,16214199-2313432,-23.228676,204211116,11.375,13.637,10.956,13.637,245.424978,16.361665,NaN,6301.0,722.10
22,16220194-2245410,-22.761395,204329690,11.347,13.635,10.882,13.635,245.508110,16.367207,NaN,6314.0,791.70
10,16230923-2417047,-24.284773,203950167,8.997,12.012,8.070,12.012,245.788460,16.385897,NaN,5187.0,463.00
19,16245587-2627181,-26.455029,203343161,11.533,13.586,11.165,13.586,246.232825,16.415522,NaN,7255.0,659.10
1,16253849-2613540,-26.231661,203410665,7.947,10.845,7.517,10.845,246.410348,16.427357,10.859,4415.0,1162.00
7,16261706-2420216,-24.339449,203937317,8.609,13.809,8.063,13.809,246.571165,16.438078,NaN,4713.0,834.20
6,16262367-2443138,-24.720513,203843911,8.397,13.386,7.847,13.386,246.598749,16.439917,NaN,4799.0,762.40
24,16270659-2441488,-24.696901,203850058,11.397,13.812,10.766,13.812,246.777484,16.451832,NaN,6354.0,1255.00
17,16281673-2405142,-24.087296,203995761,9.571,12.616,8.860,12.616,247.069727,16.471315,NaN,5333.0,1596.00
14,16285407-2447442,-24.795612,203824153,9.432,12.357,8.905,12.357,247.225281,16.481685,NaN,4693.0,1118.00

In [ ]:
#may 14

df

## Exposure time

In [ ]:
exposure = 12
HWP = 4 #half-wave plate angles
dither = 5 #pattern
coadds = 1 #background-limited single integration time

In [13]:
20*12

240